block template_params

li(class='sidebar_button_#{template_params_bubble_section}')
  a(href='/bubbles/#{bubble._id}/#{template_params_bubble_section}')
    div.left_line
    div(class='sidebar_button_icon icon_#{template_params_bubble_section}s')
    h2.sidebar_button_label #{template_params_button_label}
    div(class='sidebar_counter sidebar_counter_#{template_params_bubble_section}s')
      h2= template_params_num_objects
    div.icon_sidebar_select
