extends ../layouts/default

block main
  div.page_content.subscriptions
    include widgets/form_modify_bubble_edit
  
    div.divider

    section.edit_members.edit_members_left
      div.subtitle.colorize_blue.edit_members_heading pending members
      ul#pending_members.member_list
        each user in bubble.connections.users.invitees
          li.member_widget
            div.face_circle_container
              img.face_circle(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            section.user_info_container
              h4= user.name
              div.member_subtitle invited to be a member
            section.action_button_container
              form(method='post', action='/bubbles/' + bubble._id + '/remove_invitee/' + user._id)
                button#connect_bubble_apply.action_button.colorize_blue_texture(type='submit') cancel invite
                input(type='hidden', name='redirect_url', value=req.url)
        each user in bubble.connections.users.applicants
          li.member_widget
            div.face_circle_container
              img.face_circle(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            section.user_info_container
              h4= user.name
              div.member_subtitle applied to be a member
            section.action_button_container
              form(method='post', action='/bubbles/' + bubble._id + '/add_member/' + user._id)
                button#connect_bubble_apply.action_button.colorize_blue_texture(type='submit') accept application
                input(type='hidden', name='redirect_url', value=req.url)
              form(method='post', action='/bubbles/' + bubble._id + '/remove_applicant/' + user._id)
                button#connect_bubble_apply.action_button.colorize_white_texture.colorize_text_gray(type='submit') deny application
                input(type='hidden', name='redirect_url', value=req.url)
    section.edit_members.edit_members_right
      div.subtitle.colorize_blue.edit_members_heading existing members
      ul.member_list
        li#invite_member.invite_member.member_widget
          div#autocomplete_hidden_bubble_id.hidden= bubble._id
          h4#invite_member_start invite new member
          section#invite_member_search.invite_member_search
            input#invite_member_input(placeholder="type someone's name")
        each user in bubble.connections.users.admins
          li.member_widget
            div.face_circle_container
              img.face_circle(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            section.user_info_container
              h4= user.name
              div.member_subtitle admin
            section.action_button_container
              if (user._id != req.user.id)
                form(method='post', action='/bubbles/' + bubble._id + '/demote_to_member/' + user._id)
                  button#connect_bubble_apply.action_button.colorize_blue_texture(type='submit') demote to member
                  input(type='hidden', name='redirect_url', value=req.url)
                form(method='post', action='/bubbles/' + bubble._id + '/remove_admin/' + user._id)
                  button#connect_bubble_apply.action_button.colorize_white_texture.colorize_text_gray(type='submit') remove from bubble
                  input(type='hidden', name='redirect_url', value=req.url)
        each user in bubble.connections.users.members
          li.member_widget
            div.face_circle_container
              img.face_circle(src='http://graph.facebook.com/' + user.facebook.id + '/picture?type=square', style='float: left')
            section.user_info_container
              h4= user.name
              div.member_subtitle member
            section.action_button_container
              form(method='post', action='/bubbles/' + bubble._id + '/add_admin/' + user._id)
                button#connect_bubble_apply.action_button.colorize_blue_texture(type='submit') promote to admin
                input(type='hidden', name='redirect_url', value=req.url)
              form(method='post', action='/bubbles/' + bubble._id + '/remove_member/' + user._id)
                button#connect_bubble_apply.action_button.colorize_white_texture.colorize_text_gray(type='submit') remove from bubble
                input(type='hidden', name='redirect_url', value=req.url)
