button(class='toggle_visible create_post colorize_texture_#{bubble_section}')
  | edit bubble
  div(class='toggle_make_invisible icon_arrow_down icon_arrow_down_#{bubble_section} start_invisible')

section.bubble_form_container
  form.bubble_form.start_open.toggle_invisible.form-horizontal(method="post", action="/edit/bubbles/#{bubble._id}/update")
    input.requiredInput.input_bubble_name(type='text', value=bubble.name, maxlength="30", name="name", placeholder='Bubble Name')
    input.input_bubble_location(type='text', value=bubble.location, maxlength="20", name="location", placeholder='Bubble Location (Optional)')
   
    select.requiredInput.input_bubble_type(name='bubble_type')
      option(value='student organization') Student Organization
      option(value='administration') Administration
      option(value='study group') Study Group
      option(value='greek life') Greek Life
      option(value='athletics') Athletics
      option(value='class') Class 

    button#submitBtn.submit_post.submit_post_bubble.colorize_texture_none(type='submit') save
      p.warning.descriptor.red_text Please fill in every field before saving your bubble

    div.icon_arrow_up_none.hide_form.toggle_visible_reverse

  form#upload_post_image.upload_bubble_image(method='post', action='/uploads/bubbles/#{bubble._id}/bubble/bubble/#{bubble._id}', enctype='multipart/form-data')
    input(type='hidden', name='current_url', value=req.url)
    div.upload_text upload picture
    div.icon_upload_image
    input#input_post_image.input_file(type='file', name='input_file')
    button.submit_upload(type='submit') upload
  div#loader_post_image.loader
