block set_parameters

a(class='back_button gradient_gray colorize_texture_#{bubble_section}_2 edit_post_button', href='/bubbles/#{bubble._id}/#{bubble_section}/#{modify_type}/#{post._id}')
  | #{modify_type} #{bubble_section}
