if (user_subscribed == 1)
  subscribe_status = 'remove_fan'
else
  subscribe_status = 'add_fan'

if (bubble_connect_status == 'none' || bubble_connect_status == 'fan')
  form(method="post", action="/bubbles/#{bubble._id}/#{subscribe_status}/#{req.user._id}")
    input(type='hidden', name='redirect_url', value=req.url)
    button.subscribe(type='submit')
      - if (user_subscribed == 1)
        div.heart.icon_subscribed
      - else
        div.heart.icon_unsubscribed
      div.descriptor.gray_text #{bubble.num_connections.num_users.num_fans}
